<!DOCTYPE html>
	<html ng-app="practiceModule">
		<head>
			<title>Angular Practice</title>
			<meta charset="utf-8">
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		</head>
		<body ng-controller="practiceController">
			<div ng-repeat="thing in randomInfo">
				<h1 ng-click="clickText($index)">{{thing}}</h1>
				<input placeholder="Name" ng-focus="focused($index)" ng-blur="blurred($index)" ng-show="booleanIndex[$index]" ng-model="thing" type="text"></input>
			</div>
			<script src="script.js"></script>
		</body>
	</html>