
body{
	background-color: palevioletred;
	font-size: 12pt;
	font-family: verdana, sans-serif;
	color: #640A42;
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	position: relative;
}

/*MAIN LAYOUT*/

.allContent{
	width: 769px;
	margin: auto;
}

.contentBox{
	background-image: linear-gradient(
		to right, mistyrose, #C56584);
	overflow: auto;
	margin: 1.75rem;
	padding: 1.25rem;
	border-radius: 5px;
}





/*UNIVERSAL CLASSES*/

.image{
	border-radius: 50%;
}

.heading{
	line-height: 3rem;
	padding-left: 1.5rem;
}




/*INTRO BOX LAYOUT*/

.introBox{
	line-height: 9rem;
}

.introImage{
	float: left;
	width: 10rem;
	height: 10rem;
	box-shadow: -1px 0px 14px -1px #640A42;
}

.introText{
	display: inline-block;
	padding-left: 1.5rem;
	vertical-align: middle;
}

.introText>p{
	line-height: 1.5rem;
	padding-left: 3rem;
}




/*MAIN BOX LAYOUT*/

.mainBox{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.mainParagraph{
	padding-left: 1.5rem;
	line-height: 1.5rem;
	margin-top: 1rem;
}

.imageGallery{
	float: right;
	padding-left: 1rem;
}

.imageFrame{
	line-height: 1.4rem;
	text-align: center;
	padding: 1rem;
	font-size: 0.9rem;
	width: 278px;
}

.galleryImage{
	width: 15rem;
	height: 15rem;
	box-shadow: -2px 1px 19px 1px #640A42;
}



/*HIDDEN INPUT BOXES*/

.input{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: palevioletred;
	color: mistyrose;
	font-size: 1rem;
	vertical-align: text-top;
}

.paragraphInput{
	width: 375px;
}

.headingInput{
	width: 625px;
}