<!DOCTYPE html>
<html ng-app="formModule">
	<head>
		<title>User Profile</title>
		<meta charset="utf-8">
		<link href="profile.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	</head>
	<body ng-controller="formController">
		<div class="allContent">
			<div class="contentBox introBox">
				<img class="image introImage" src="power.jpg">
				<div class="introText">
					<h1 ng-click="showTextbox()" ng-model="profileInput" class="heading">
						<input ng-blur="blur" class="input" ng-show="textboxVisible">{{userinfo.username}}
						</input>
					</h1>
					<p ng-click="showTextbox()" ng-model="profileInput">
						<input ng-blur="blur" class="input" ng-show="textboxVisible">{{userinfo.nickname}}</input>
					</p>
					<p ng-click="showTextbox()" ng-model="profileInput">
						<input ng-blur="blur" class="input" ng-show="textboxVisible">{{userinfo.location}}</input>
					</p>
					<p ng-click="showTextbox()" ng-model="profileInput">
						<input ng-blur="blur" class="input" ng-show="textboxVisible">{{userinfo.website}}</input>
					</p>
				</div>
			</div>

			<div class="contentBox mainBox">			
				<h1 ng-click="showTextbox()" ng-model="profileInput" class="headingInput heading">
					<input ng-blur="blur" class="input" ng-show="textboxVisible">
					{{userinfo.intro}}
					</input>
				</h1>
				<div class="imageGallery">
					<div  ng-click="showTextbox()" ng-model="profileInput" class="imageFrame">
						<img src="ericdraug.jpg" class="image galleryImage">
						<div>
							<input ng-blur="blur" class="input" ng-show="textboxVisible">
							{{userinfo.caption1}}
							</input>
						</div>
					</div>
					<div ng-click="showTextbox()" ng-model="profileInput" class="imageFrame">
						<img src="oregon.jpg" class="image galleryImage">
						<div>
							<input ng-blur="blur" class="input" ng-show="textboxVisible">
							{{userinfo.caption2}}
							</input>
						</div>
					</div>
					<div ng-click="showTextbox()" ng-model="profileInput" class="imageFrame">
						<img src="tux.jpg" class="image galleryImage">
						<div>
							<input ng-blur="blur" class="input" ng-show="textboxVisible">
							{{userinfo.caption3}}
							</input>
						</div>
					</div>	
				</div>
				<p ng-click="showTextbox()" ng-model="profileInput" class="mainParagraph">
					<input ng-blur="blur" class="input paragraphInput" ng-show="textboxVisible">{{userinfo.bio1}}
					</input>
				</p>
				<p ng-click="showTextbox()" ng-model="profileInput" class="mainParagraph">
					<input ng-blur="blur" class="input paragraphInput" ng-show="textboxVisible">
					{{userinfo.bio2}}
					</input>
				</p>
				<p ng-click="showTextbox()" ng-model="profileInput" class="mainParagraph">
					<input ng-blur="blur" class="input paragraphInput" ng-show="textboxVisible">
					{{userinfo.bio3}}
					</input>
				</p>
				<p ng-click="showTextbox()" ng-model="profileInput" class="mainParagraph">
					<input ng-blur="blur" class="input paragraphInput" ng-show="textboxVisible">
					{{userinfo.bio4}}
					</input>
				</p>
			</div>
		</div>	
		<script src="profile.js"></script>
	</body>
</html>